POSTGRES_DB=tracing_poc
POSTGRES_USER=tracing
POSTGRES_USERNAME=tracing
POSTGRES_PASSWORD=tracing
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=trace-artifacts
MINIO_REGION=us-east-1
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=trace-artifacts
S3_REGION=us-east-1

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=local,service.namespace=distributed-tracing-poc

JAVA_SERVICE_PORT=8080
KOTLIN_SERVICE_PORT=8081
KOTLIN_SERVICE_BASE_URL=http://localhost:8081
